@import '/css/reset.css';
@import '/css/base.css';
@import '/css/layout.css';
@import '/css/module.css';
@import '/css/theme.css';

body {
    max-height: 767;
}
 * {
    box-sizing: border-box;
    /* max-width: 480px; */
    
    
}

header {
    border: 1px solid gray;
    height: 75px;
    background-color: lightgray;
}
aside {
    border: 1px solid gray;
    height: 150px;
    background-color: lightgray;
}
div {
    border: 1px solid gray;
    background-color: lightgray;
}

.cd {
    height: 125px;
}
.efgh {
    width: 240px;
    float: left;
    height: 250px;
}
footer {
    border: 1px solid gray;
    height: 80px;
    clear: both;
    background-color: lightgray;
}

@media(min-width:960px) {

    body {
        max-height: 960px;
    }
    header {
        width: 960px;
    }
    aside {
        float: left;
        width:200px;
        height: 600px; 
    }
    .efgh{
        width: 190px;
        height: 250px;
    }
    .cd {
        width: 380px;
        height: 200px;
        float: left;
    }
    footer {
        height: 150px;
        width: 760px;
    }
}